/* ---------------------------
   Fonts & Page
   ------------------------ */
@import "http://fonts.googleapis.com/css?family=Roboto:500,100";
@import "http://weloveiconfonts.com/api/?family=entypo";

/* Entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;}

/* Page */
html, body {
  margin: auto;
  padding: auto;
  height: 100%;}

body {
  background-color: #ffffff;
}

/* ---------------------------
   Heart Beat Specific
   ------------------------ */
#wrap {
  padding-top: 120px;
  text-align: center;
  display: block;
  width: 100%;
  height: 58px;}

#wrap span.text {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 58px;
  color: #99c2ff;
  padding: 0 10px;}
  
#wrap span.text a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;}

#wrap .heart-wrap {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;}

#wrap .entypo-heart:before {
  display: block;
  color: #ffb3cb; 
  font-size: 46px;
  speak: none; /* Prevent screen readers */
  -webkit-font-smoothing: antialiased; /* Webkit font tweaking */
  
  /* Boost hardware acceleration where possible */
  -webkit-transform: scale(1) translate3d(0px,0px,0px);
     -moz-transform: scale(1) translate3d(0px,0px,0px);
       -o-transform: scale(1) translate3d(0px,0px,0px);
          transform: scale(1) translate3d(0px,0px,0px);
 
  /* Cross browser animation */
  -webkit-animation: beatz 2s infinite; /* Chrome, Safari 5+ */
     -moz-animation: beatz 2s infinite; /* Firefox 5-15 */
       -o-animation: beatz 2s infinite; /* Opera 12.00 */
          animation: beatz 2s infinite; /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */}

  /* Heart beat animation*/
  @-webkit-keyframes beatz {
    0%   { font-size: 50px;}
    2%   { font-size: 53px;}
    4%   { font-size: 50px;}
    6%   { font-size: 53px;}
    8%   { font-size: 50px;}
    100% { font-size: 50px;}
  }
  @-moz-keyframes beatz {
    0%   { font-size: 50px;}
    2%   { font-size: 53px;}
    4%   { font-size: 50px;}
    6%   { font-size: 53px;}
    8%   { font-size: 50px;}
    100% { font-size: 50px;}
  }
  @-o-keyframes beatz {
    0%   { font-size: 50px;}
    2%   { font-size: 53px;}
    4%   { font-size: 50px;}
    6%   { font-size: 53px;}
    8%   { font-size: 50px;}
    100% { font-size: 50px;}
  }
  @keyframes beatz {
    0%   { font-size: 50px;}
    2%   { font-size: 53px;}
    4%   { font-size: 50px;}
    6%   { font-size: 53px;}
    8%   { font-size: 50px;}
    100% { font-size: 50px;}
  }

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
	
If the images are different sizes you want to make sure they cover the div as well as being centered within it. Adding 50% border-radius will do the trick also.

http://jsfiddle.net/k71v1vL3/1/ - Example

<div class="user one">
</div>

<div class="user two">
</div>

<div class="user three">
</div>
.user
{
    width: 200px; // These are your circle dimensions
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat; 
    background-position: center center; // Center image in the circle
    background-size: cover; // Make sure it covers the circle, as there is no bg repeat
}


.user
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat; 
    background-position: center;
}
.user
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat; 
    background-position: center;
    background-align: center;
}


.one
{
    background-image: url('http://demo.patternlab.io/images/fpo_avatar.png');
}
